.pentagram {
    fill: $red;
    overflow: visible;
    width: 0.8em;
    height: 0.8em;
    &.inactive {
        fill: none;
        stroke: $red;
        stroke-width: 1px;
        stroke-linecap: round;
        &:hover {
            stroke: none;
            fill: $red;
        }
    }
}