/*--------------------------------*\
	 FONT STACKS
\*--------------------------------*/
$neuzeit : "neuzeit-grotesk", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
$americana : 'Americana Std Extra Bold', serif;

/*--------------------------------*\
	 COLORS
\*--------------------------------*/
//$pink : rgb(255,230,230);
$pink : rgb(218, 192, 247);
//$pink : rgb(204, 255, 2);
//$red : rgb(255, 0, 0);
$red : rgb(23, 76, 65);
//$red : rgb(23, 107, 90);
//$red : rgb(4, 119, 62);
//$red : rgb(204, 255, 2);

/*--------------------------------*\
	 BEZIER CURVES
\*--------------------------------*/
$fancybezier : cubic-bezier(.85,.01,.33,1);