#view-task-modal {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    max-width: 480px;
    background: $pink;
    border-left: 1px solid $red;
    z-index: 10;
    transform: translateX(100%);
    transition: 0.6s $fancybezier;
    padding: 56px 48px;
    &.active {
        transform: translateX(0);
    }
    #close-view-modal {
        position: absolute;
        right: 12px;
        top: 12px;
    } table {
        width: 100%;
        display: block;
        margin-bottom: 24px;
        tbody {
            display: block;
        }
        thead {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            td {
                display: block;
                flex: 1 0 0;
                padding: 4px 8px;
                &.delete-event-list {
                    font-weight: bold;
                    flex: 0 0 auto;
                    padding: 4px 16px;
                    opacity: 0;
                    pointer-events: none;
                } &:first-of-type {
                    padding-left: 0;
                }
            }
        }
        tr {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            &:nth-of-type(2n) {
                background: rgba($red, 0.1);
            } td {
                display: block;
                flex: 1 0 0;
                padding: 4px 8px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                &.delete-event-list {
                    font-weight: bold;
                    flex: 0 0 auto;
                    padding: 4px 16px;
                }
            } &:first-of-type {
                padding-left: 0;
            }
        }
    }
}